.navbar_contenido{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 0px;
    align-items: center;
    /* background: #fff; */
    z-index: 10;
}
.navbar_contenido a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navbar_contenido ul{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}
.navbar_contenido ul li a{
    transition: 0.7s;
}

.navbar_contenido a{
    justify-content: center;
    display:flex;
    align-items: center;
    color: #000;
    font-weight: 300;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    transition: 1.5s;
}
.estylo_abajo{
    background: #fff;
    padding: 15px;
}
.navbar_contenido a:hover{
    background: #cecece; 
}
.navbar-item{
    font-size: 20px;
    font-family: auto;
}
.navbar{
    border-radius: 20px;
}
._afec{
    display: none;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
}
._afed{
    border-bottom: 3px solid #1c2b33;
    display: block;
    position: relative;
    transition: transform 665ms cubic-bezier(0,0,.1,1);
    width: 20px;
}
._afee{
    margin: 4px 0;
    border-bottom: 3px solid #1c2b33;
    display: block;
    position: relative;
}
._afef{
    border-bottom: 3px solid #1c2b33;
    display: block;
    position: relative;
    transition: transform 665ms cubic-bezier(0,0,.1,1);
    width: 20px;
}


@media only screen and (max-width:600px){
    .navbar_contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar_contenido ul{
        flex-direction: column;
        align-items: center;
    }
    .navbar_contenido a{
        width: 60%;
    }
    .navbar_contenido .titulo{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        flex-direction: row;
        gap: 10%;
    }
    .botones_navbar{
        width: 100vh;
        height: 10vh;
        display: none;
        transition: .3s all;
    }
    ._afec{
        display: block;
    }
}