.botones_derecha{
    position: absolute;
    top: 90%;
    left: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.botones_derecha a{
    width: 150px;
    background: #000;
    color: #fff;
    height: 50px;
    transition: .4s all;
}
.botones_derecha a:hover{
    width: 160px;
    animation: cambio_color 3s ease infinite;
    transition: background-color .2s ease;
}
.contenedor_cursos{
    height: 350px;
    overflow: auto;
}
@media only screen and (max-width:600px){
    .botones_derecha{
        flex-direction: column;
        top: 60%;
        left: 37%;
    }
}
@keyframes cambio_color{
    0%{
        transform: scale(1);
        background-color:rgb(20, 17, 43);
    }
    50%{
        transform: scale(1.1);
        background-color:rgb(23, 15, 85) ;
    }
    100%{
        transform: scale(1);
        background-color: rgb(38, 25, 134);
    }
}