.imagen_date{
    position: relative;
    width:100%;
    height:350px;
    background:url("../img/imagen fondo2.png");
    background-size: cover;
    /* background-position: center center; */
}
.imagen_date1{
    position: relative;
    width:100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background:url("../img/presentacion_academy.png");
    background-size: cover;
    background-position:center;
}
.presentacion{
    position: absolute;
    top: 36%;
    left: 35%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #fafafa15;
    border-radius: 10px;
    backdrop-filter: blur(0.4rem);
    border: 2px solid #02020220;
}
.presentacion .imagen_presentacion{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}
.presentacion .imagen_presentacion img{
    filter: drop-shadow(4px 6px 12px #2c2c2c);
    animation: mover 5s ease-in-out  infinite;
}
.presentacion .imagen_presentacion > p{
    /* background:  linear-gradient(to right, rgb(14, 4, 110) 25%, rgb(5, 25, 138) 70%); */
    text-shadow:
     -1px -1px rgb(231, 231, 231),
     1px -1px rgb(153, 153, 153),
     1px 1px rgb(146, 144, 144),
     1px -1px rgb(228, 228, 228);
}

.movimiento {
    color: rgb(12 10 10);
    /* animation: wave 3s ease-in-out infinite; */
}
.presentacion .dato_presentacion {
    padding: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: -1 1 white;
}
.presentacion .dato_presentacion p{
    text-shadow: 1px 1px 2px white,0 0 1em white;
}

.hero{
    height: 100vh;
    min-height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
}
.hero1{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
}
.hero_texts1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria2{
    display: flex;
    margin-top: 10px;
    padding: 16px;
}
.galeria3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;

}
.card1{
    margin-right: 10px;
    position: relative;
    width: 100px;
    transition: .3s all;
}
.card2{
    margin-right: 5px;
    position: relative;
    width: 200px;
    transition: .3s all;
}
.card2 img{
    width: 400px;
    object-fit: cover;
    height: 250px;
    border-radius: 20px;
    background: darkgray;
}
.card1 img{
    width: 200px;
    object-fit: cover;
    height: 250px;
} 

.head-card{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(83, 81, 81, 0.5);
    color: aliceblue;
}
.head-card h5, .head-card p{
    margin: 0;
}


.hero--reverse{
    flex-direction: row-reverse;
}
.hero_img{
    width:100% ;
    border-radius: 20px;
}
.hero_title{
    font-family:initial;
    font-size:3rem;
}

[data-animation="fade"]{
    opacity: 0;
    transform: translate(100%);
    transition: .4s ease-in .3s;
    --opacity:1;
    --transform: translate(0);
}

[data-animation="show"]{
    opacity: 0;
    transform: scale(0);
    transition: .4s ease-in .3s;
    --opacity:1;
    --transform: scale(1);
}

[data-animation="up"]{
    opacity: 0;
    transform: translateY(100%);
    transition: .4s ease-in .3s;
    --opacity:1;
    --transform: translateY(0);
}

.unset{
    opacity: var(--opacity);
    transform: var(--transform);
}
.boton_distributed{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: auto;
}


@keyframes mover{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}

.hero_texts1 p{
    text-align: center;
}
@media only screen and (max-width:600px){
    .hero{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .presentacion{
        left: 0;
        top: 25%;
        width: auto;

    }
    .hero_title{
        font-size: 2rem;
        text-align: center;
    }
}

.card1:hover{
    width: 200px;
}
.card2:hover{
    width: 250px;
}